<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
  <title>FCC Timestamp Microservice</title>
</head>

<body>
  <div class="container">
    <h2>API Project: Request Header Parser Microservice</h2>
    <h3>User Story: </h3>
    1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos
    (from header <code>User-Agent</code>) for my device.

    <h3>Example Usage:</h3>
    <a href="https://fcc-header-parse-winter.herokuapp.com/api/whoami" target="_blank">
      [base url]/api/whoami
    </a>

    <h3>Example Output:</h3>
    <p>
      <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </p>
  </div>
  <div class="footer">
    <p>
      by <a href="https://uybinh.com">uybinh.com</a>
    </p>
  </div>
</body>

</html>